:root {
    --mwidth: 1100px;
    --primary: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    background-color: var(--primary);
}

/* Utility styles */
.container {
    max-width: var(--mwidth);
}

.clr{
    clear: both;
}

/* NavVar styles */
nav {
    background-color: var(--primary);
}

nav div {
    display: inline;
}

nav div a {
    color: beige;
    text-decoration: none !important;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    align-content: center;
    align-self: middle;
    align-items: middle;
}

nav ul li {
    display: inline;
    vertical-align: middle;
}

nav ul li a {
    display: inline-block;
    color: beige;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

nav ul li span {
    color: beige;
    display: inline-block;
}

nav ul li div.dropdown span:hover {
    color: beige;
}

li span:hover {
    border-color: blue;
}

li a:hover {
    background-color: blue;
}

.active {
    background-color: green;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Gallery Styles */
div.gallery {
    margin: 5px;
    border: 1px solid #cccccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid goldenrod;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    color: beige;
}

h2 {
    color: beige;
    margin: 10px;
}

/* form styles */
form {
    width: 80%;
    margin: 10px auto;
    border: 3px double blue;
    padding: 10px;
}

input {
    width: 100%;
}

input[type="text"] {
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid red;
    border-radius: 5px;
}

input[type="password"] {
    background-color: lightgoldenrodyellow;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid red;
    border-radius: 5px;
}

input[type="submit"] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px auto;
    border: 2px solid goldenrod;
    background-color: gold;
    border-radius: 5px;
}

.select {
    display: block;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 25px;
}

.form-box{
    max-width: 100%;
}
